.DS_Store
node_modules
/backend/log/*
/dist
deploy.sh
# local env files
.env.local
.env.*.local
.env.production
.env.*.production
.env
*.http
# Log files
debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
